In [1]:
import os
os.getcwd()

'C:\\Users\\kissd\\TIL\\데이터 분석'

패키지 : 다양한 프로그램을 누군가가 미리 만들어 누구나 사용할 수 있도록 등록해 둔 것  
import 명령어로 불러서 사용, Anaconda 설치 시 주요 패키지가 함께  설치됨  

os 패키지 : 운영체제의 기능을 사용하여 알 수 있는 정보 -> 파이썬 안에서 사용할 수 있도록 프로그램을 담고 있는 패키지

os.getcwd() : 현재 작업 디렉토리 - current working directory를 찾아주는 함수

In [2]:
import pandas as pd

pandas : 데이터 분석에 널리 사용되는 패키지 중 하나  
엑셀의 표같이 구성된 데이터를 다루기 쉽게 만들어주는 강력한 패키지

---

encodig : 세상에 존재하는 다양한 언어를 컴퓨터가 처리할 수 있도록 코드화하는 방법  
UnicodeDecodeError : 윈도우에서 사용하는 기본 encodig(ANSI)과 파이썬에서 사용하는 기본 encoding(utf-8)이 일치하지 않아서 발생

In [4]:
bike_data = pd.read_csv('bike_usage_0.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbd in position 183: invalid start byte

In [6]:
bike_data = pd.read_csv('bike_usage_0.csv', encoding = 'ANSI')

In [7]:
bike_data

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [8]:
print(bike_data)

         Date_out  Time_out  Station_no_out           Station_out  \
0      2019-10-03         0             129  129. 신촌역(2호선) 6번출구 옆
1      2019-10-03         0             150      150. 서강대역 2번출구 앞
2      2019-10-03         0             240       240. 문래역 4번출구 앞
3      2019-10-03         0             623       623. 서울시립대 정문 앞
4      2019-10-03         0             633       633. 청량리 기업은행 앞
...           ...       ...             ...                   ...
36590  2019-10-05        23             130  130. 신촌역(2호선) 7번출구 앞
36591  2019-10-05        23            2215      2215. 반포종합운동장 입구
36592  2019-10-05        23             654         654. 전농동 텃골공원
36593  2019-10-05        23             119          119. 서강나루 공원
36594  2019-10-05        23             630         630. 동대문구 보건소

      Membership_type Gender Age_Group Momentum  Station_no_in    Station_in  \
0                 정기권    NaN      ~10대    28.27            122      신성기사식당 앞
1                 정기권    NaN       20대   146.46           2065     서울시여성가족재단
2                 정기권    NaN       20대    37.13            245   삼성생명 당산사옥 앞
3                 정기권    NaN       20대   134.62           1346   길음8골어린이공원 옆
4                 정기권    NaN       20대    85.83            568    청계8가사거리 부근
...               ...    ...       ...      ...            ...           ...
36590             일일권      M       30대   110.06            432       마포중앙도서관
36591             일일권      M       30대   153.15           2221  하나은행 방배동지점 앞
36592             일일권      M       40대    65.12            654      전농동 텃골공원
36593             일일권      M       40대    78.76           3102         연희삼거리
36594             단체권    NaN       20대    22.83            660        동의보감타워

                      Date_in    Bike_no Carbon_amount  Distance  Duration
0      2019-10-03 오전 12:20:42  SPB-15000          0.24      1050         5
1       2019-10-03 오전 1:16:32  SPB-13087          1.32      5690        32
2      2019-10-03 오전 12:18:21  SPB-23229          0.29      1250        10
3       2019-10-03 오전 1:15:39  SPB-14181          1.21      5230        24
4      2019-10-03 오전 12:17:58  SPB-15221          0.67      2890        11
...                       ...        ...           ...       ...       ...
36590  2019-10-06 오전 12:06:20  SPB-14263           0.9      3860        23
36591  2019-10-06 오전 12:27:55  SPB-17557          1.38      5950        32
36592  2019-10-06 오전 12:09:12  SPB-18226          0.59      2530        17
36593  2019-10-05 오후 11:44:39  SPB-21624          0.71      3060        17
36594  2019-10-05 오후 11:27:13  SPB-02538          0.14       620         5

[36595 rows x 15 columns]

In [9]:
bike_data.isnull()

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36591,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36592,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36593,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36594,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [10]:
bike_data.isnull().sum()

Date_out               0
Time_out               0
Station_no_out         0
Station_out            0
Membership_type        0
Gender             18333
Age_Group              0
Momentum               0
Station_no_in          0
Station_in             0
Date_in                0
Bike_no                0
Carbon_amount          0
Distance               0
Duration               0
dtype: int64

In [11]:
population = pd.read_csv('population_by_Gu.txt')

In [13]:
population

  Gu\tFamily\tPopulation\tMale\tFemale\tD_Total\tD_Male\tD_Female\tF_Total\tF_Male\tF_Female\tper_Family\tover_65
0  동대문구\t164191\t363023\t178490\t184533\t346194\t...
1  은평구\t207681\t484546\t233360\t251186\t480032\t2...
2  마포구\t175023\t385925\t181303\t204622\t374035\t1...
3  영등포구\t174806\t400986\t200986\t200000\t367678\t...
4  서초구\t173199\t435107\t208181\t226926\t430826\t2...

In [14]:
population = pd.read_csv('population_by_Gu.txt', sep = '\t')

In [15]:
population

,Gu,Family,Population,Male,Female,D_Total,D_Male,D_Female,F_Total,F_Male,F_Female,per_Family,over_65
0,동대문구,164191,363023,178490,184533,346194,172113,174081,16829,6377,10452,2.11,59350
1,은평구,207681,484546,233360,251186,480032,231528,248504,4514,1832,2682,2.31,80738
2,마포구,175023,385925,181303,204622,374035,176891,197144,11890,4412,7478,2.14,52429
3,영등포구,174806,400986,200986,200000,367678,182438,185240,33308,18548,14760,2.10,57872
4,서초구,173199,435107,208181,226926,430826,206039,224787,4281,2142,2139,2.49,57136

In [16]:
weather = pd.read_csv('weather.csv')